{
    name: "zenphp/zenphp"
    description: "Fork from Google code project for github and composer use in projects."
    license: "MIT"
    authors: [
        name: "Waldson P"
        email: "waldsonp+unknown@example.com"
    ]
    "minimum-stability": "dev"
    require: {}
    autoload:
        "psr-0":
            "ZenPHP": "src/"
}
